<p id="notice"><%= notice %></p>

<h1>Our Weekly Schedule</h1>

<% start_date = params[:start_date] || Date.today.beginning_of_week.to_date %>
<% end_date = start_date + 34.days %>

<% date_range = (start_date..end_date).to_a %>

<table>
  <thead>
    <tr>
      <% date_range.slice(0, 7).each do |day| %>
      <th><%= I18n.t("date.day_names")[day.wday] %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% date_range.each_slice(7) do |week| %>
    <tr>
      <% week.each do |day| %>
        <td>
        <span id="day"><%= day.strftime("%m/%d") %></span></br>
        <span id="events">
          <% @events.each do |event| %>
            <% if event.start.to_date == day.to_date %>
              <%= event.start.strftime("%H:%M") %>
              <%= link_to event.title, edit_event_path(event), class: "link_Event" %></br>
            <% end %>
        </span></span>
        <% end %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
  </table>
<p id="link_newEvent"><%= link_to 'Create New Event', new_event_path, class: "link_Event" %></p>
<p id="link_newEvent"><%= link_to 'List of Schedulers', schedulers_path, class: "link_Event" %></p>
