<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Weekly Calendar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Oxygen:400,500,600' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Overlook" rel="stylesheet"> 
</head>
<body>
  <header>
    <div class="header">
      <h1>Our Weekly Schedule</h1>
      <div class="text-center menuBar">
        <span><%= link_to 'Calendar', events_path, class: "link_Event" %></span> | 
        <span><%= link_to 'Add Event', new_event_path, class: "link_Event" %></span> |
        <span><%= link_to 'Settings', schedulers_path, class: "link_Event" %></span>
        <% if (logged_in?) %>
         <span style='float: right;'>
           User: <%= current_user.name %> | 
           <%= link_to "Logout", logout_path, method: :delete %>
          </span>
        <% end %>
    </div>
  </header>
    <div>
      <%= yield %>
    </div>
</body>
</html>